<?xml version="1.0"?>
<config>
	<modules>
		<Codaone_Logitrail>
			<version>1.0.0</version>
		</Codaone_Logitrail>
	</modules>
	<global>
		<helpers>
			<logitrail>
				<class>Codaone_Logitrail_Helper</class>
			</logitrail>
		</helpers>
		<models>
			<logitrail>
				<class>Codaone_Logitrail_Model</class>
				<resourceModel>logitrail_mysql4</resourceModel>
			</logitrail>
		</models>
		<blocks>
			<adminhtml>
				<rewrite>
					<catalog_product_edit>Codaone_Logitrail_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
					<catalog_product_grid>Codaone_Logitrail_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml>
			<logitrail>
				<class>Codaone_Logitrail_Block</class>
			</logitrail>
		</blocks>
		<resources>
			<logitrail_setup>
				<setup>
					<module>Codaone_Logitrail</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</logitrail_setup>
			<logitrail_read>
				<connection>
					<use>core_read</use>
				</connection>
			</logitrail_read>
			<logitrail_write>
				<connection>
					<use>core_write</use>
				</connection>
			</logitrail_write>
		</resources>
		<fieldsets>
			<sales_convert_quote>
				<logitrail_order_id>
					<to_order>*</to_order>
				</logitrail_order_id>
			</sales_convert_quote>
			<sales_convert_order>
				<logitrail_order_id>
					<to_quote>*</to_quote>
				</logitrail_order_id>
			</sales_convert_order>
		</fieldsets>
		<events>
			<sales_order_payment_pay>
				<observers>
					<logitrail>
						<type>singleton</type>
						<class>Codaone_Logitrail_Model_Observer</class>
						<method>confirmOrder</method>
					</logitrail>
				</observers>
			</sales_order_payment_pay>
			<catalog_product_save_after>
				<observers>
					<logitrail>
						<type>singleton</type>
						<class>Codaone_Logitrail_Model_Observer</class>
						<method>saveProduct</method>
					</logitrail>
				</observers>
			</catalog_product_save_after>
		</events>
	</global>
	<frontend>
		<routers>
			<logitrail>
				<use>standard</use>
				<args>
					<module>Codaone_Logitrail</module>
					<frontName>logitrail</frontName>
				</args>
			</logitrail>
		</routers>
		<layout>
			<updates>
				<logitrail>
					<file>Logitrail/logitrail.xml</file>
				</logitrail>
			</updates>
		</layout>
		<translate>
			<modules>
				<logitrail>
					<files>
						<default>Codaone_Logitrail.csv</default>
					</files>
				</logitrail>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<logitrail after="Mage_Adminhtml">Codaone_Logitrail_Adminhtml</logitrail>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<logitrail>
					<files>
						<default>Codaone_Logitrail.csv</default>
					</files>
				</logitrail>
			</modules>
		</translate>
		<acl>
			<resources>
				<all>
					<title>Allow Updateing Logitrail</title>
				</all>
				<admin>
					<children>
						<logitrailbackend translate="title" module="logitrail">
							<title>Update to logitrail</title>
							<sort_order>1000</sort_order>
						</logitrailbackend>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<carriers>
			<logitrail>
				<active>1</active>
				<model>logitrail/carrier_logitrail</model>
				<name>Logitrail</name>
				<title>Logitrail</title>
				<description>Logitrail</description>
				<sort_order>0</sort_order>
				<testmode>0</testmode>
				<autosaveproduct>1</autosaveproduct>
			</logitrail>
		</carriers>
	</default>


</config> 


