<?xml version="1.0"?>
<config>
	<sections>
		<carriers translate="label" module="logitrail">
			<groups>
				<logitrail translate="label">
					<label>Logitrail</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<name translate="label">
							<label>Method Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</name>
						<merchantid translate="label comment">
							<label>Merchant ID</label>
							<comment>Merchant ID from Logitrail</comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</merchantid>
						<secretkey translate="label comment">
							<label>Secret Key</label>
							<comment>Merchant Secret Key from Logitrail</comment>
							<frontend_type>text</frontend_type>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secretkey>
						<sallowspecific translate="label">
							<label>Ship to Applicable Countries</label>
							<frontend_type>select</frontend_type>
							<sort_order>90</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sallowspecific>
						<specificcountry translate="label">
							<label>Ship to Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>91</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</specificcountry>
						<showmethod translate="label">
							<label>Show Method if Not Applicable</label>
							<frontend_type>select</frontend_type>
							<sort_order>92</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</showmethod>
						<autoship translate="label comment">
							<label>Automatic shipment creation</label>
							<frontend_type>select</frontend_type>
							<sort_order>95</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</autoship>
						<autosaveproduct translate="label comment">
							<label>Automatic creation or update to Logitrail on product save</label>
							<comment>When product is saved, update Logitrail automatically.</comment>
							<frontend_type>select</frontend_type>
							<sort_order>95</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</autosaveproduct>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
						<testmode translate="label comment">
							<label>Test mode</label>
							<comment>Select yes to enable test mode. Test mode uses Logitrail test server and writes log
								to logitrail.log
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>300</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</testmode>
						<webhook_username translate="label comment">
							<label>Webhook Username</label>
							<comment>Webhook username to be passed to Logitrail</comment>
							<frontend_type>text</frontend_type>
							<sort_order>310</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</webhook_username>
						<webhook_password translate="label comment">
							<label>Webhook Password</label>
							<comment>Webhook password to be passed to Logitrail</comment>
							<frontend_type>text</frontend_type>
							<frontend_model>logitrail/adminhtml_disable</frontend_model>
							<sort_order>315</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</webhook_password>
					</fields>
				</logitrail>
			</groups>
		</carriers>
	</sections>
</config>
